[user]
	email           = geoder101@gmail.com
	name            = George Dernikos
[push]
	default         = simple
[alias]
	l               = log --decorate --oneline
	ll              = log --decorate --oneline --graph --all
	co              = checkout
	cop             = checkout -p
	cob             = checkout -b
	b               = branch
	s               = status
	d               = diff
	dd              = diff --cached
	a               = add
	ap              = add -p
	na              = reset HEAD
	yolo            = reset --hard
	aa              = add -A
	cm              = commit
	cmm             = commit -m
	rr              = rebase -i
	m               = merge
	mm              = merge --no-ff
	wip-list        = stash list
	wip-save        = "!f() { git stash -u && git reset --hard HEAD; }; f"
	wip-save-all    = "!f() { git stash -a && git reset --hard HEAD; }; f"
	wip-restore     = "!f() { git add -A && (git stash apply || git checkout --theirs *) && git add -A && git reset HEAD -- * && git stash drop; }; f"
	wip-drop        = stash drop
	upm             = "!f() { git pull && git submodule update --init --recursive; }; f"
	upr             = "!f() { git pull -r && git submodule update --init --recursive; }; f"
