[user]
	email           = geoder101@gmail.com
	name            = George Dernikos
[push]
	default         = simple
[alias]
	# Status
	s               = status
	sq              = status -uno
	l               = log --decorate --oneline
	ld              = log --pretty=format:"%h%x09%an%x09%ad%x09%s"
	ll              = log --decorate --oneline --graph --all
	lld             = log --graph --all --pretty=format:"%h%x09%an%x09%ad%x09%s"
	b               = branch
	d               = diff
	dw              = diff --word-diff=color
	dd              = diff --cached
	ddw             = diff --cached --word-diff=color
	v               = show
	# Checkout
	co              = checkout
	cop             = checkout -p
	cob             = checkout -b
	# Stage
	a               = add
	ap              = add -p
	aa              = add -A
	na              = reset HEAD
	nap             = reset -p HEAD
	naa             = reset HEAD -- *
	yolo            = reset --hard
	# Commit
	cm              = commit
	cmm             = commit -m
	rr              = rebase -i
	m               = merge
	mm              = merge --no-ff
	# Update
	upm             = "!f() { git pull && git submodule update --init --recursive; }; f"
	upr             = "!f() { git pull -r && git submodule update --init --recursive; }; f"
	# WIP
	wip-list        = stash list
	wip-save        = "!f() { git stash -u && git reset --hard HEAD; }; f"
	wip-save-all    = "!f() { git stash -a && git reset --hard HEAD; }; f"
	wip-restore     = "!f() { git add -A && (git stash apply || git checkout --theirs *) && git add -A && git reset HEAD -- * && git stash drop; }; f"
	wip-drop        = stash drop
